.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 100px 1fr 100px;
    border-bottom: solid 2px white;
}

.header-logo {
    width: 100px;
    height: auto;
}

.header-text {
    width: 100%;
    text-align: center;
    font-size: 80px;
    margin: 0;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 30px;
}