/* Define CSS variable for min-column-width */
:root {
    --breakpoint: 1200px; /* Customizable column width */
    --box-width: 400px;
}

/* Grid container styles */
.grid-container {
    width: var(--breakpoint);
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Maximum 3 columns */
    gap: 10px; /* Spacing between grid items */
}

@media (max-width: 1200px) {
    .grid-container {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(var(--box-width), 1fr)); /* Maximum 3 columns */
    }
}

/* Grid item styles */
.grid-item {
    background-color: #2196F3;
    color: white;
    width: 100%-20px;
    padding: 20px;
    margin: 10px 10px 10px 10px;
    text-align: center;
}