html::after {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #333333;
    background-image: url("Images/background.jpg");
    margin: 0;
    padding: 0;
    height: 100%;
}

.content {
    background-color: #000000a0;
    margin: 0 10%;
    padding: 10px 10px 50px 10px;
    height: 100%;
    color: white;
}

.main-info-container {
    background-image: url("Images/Wsoft_Logo.png");
    background-size: 600px auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
    display: grid;
}

.main-info {
    background-color: #000000a0;
    background-blend-mode: color-burn;
    width: 720px;
    text-align: center;
    color:#ffffff;
    padding: 10px;
    margin: auto;
}

.title {
    font-size: 77px;
    margin: 0;
    padding: 0;
}

.author {
    font-size: 55px;
    margin: 0;
    padding: 0;
}

.semester {
    font-size: 44px;
    margin: 0;
    padding: 0;
}

/* Grid container styles */
.grid-container {
    width: 1600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Maximum 3 columns */
    gap: 10px; /* Spacing between grid items */
}

@media (max-width: 2100px) {
    .grid-container {
        width: 1200px;
        grid-template-columns: repeat(3, 1fr); /* Maximum 3 columns */
    }
}

@media (max-width: 1600px) {
    .grid-container {
        width: 800px;
        grid-template-columns: repeat(2, 1fr); /* Maximum 3 columns */
    }
}

@media (max-width: 1100px) {
    .grid-container {
        width: 400px;
        grid-template-columns: repeat(1, 1fr); /* Maximum 3 columns */
    }

    .main-info {
        padding: 10px 0;
        width: 100%;
    }

    .title {
        font-size: 7vw;
    }

    .author {
        font-size: 5vw;
    }

    .semester {
        font-size: 4vw;
    }
}

@media (max-width: 700px) {
    .main-info-container {
        width: 100%;
        height: auto;
        background-size: 100% auto;
        aspect-ratio: 1;
    }
}

@media (max-width: 550px) {
    .grid-container {
        width: 100%;
    }
}




/* Grid item styles */
.grid-item {
    background-color: #222222;
    color: white;
    outline: solid 2px white;
    width: 100%-40px;
    padding: 20px;
    margin: 10px 10px 10px 10px;
    text-align: left;
}

.item-info {
    width: 100%-20px;
    margin: 0px;
    padding: 0px;
    background-color: #111111;
    outline: solid 4px #333333;
}

.item-image {
    width: 100%;
    margin: 0px;
}

.item-date {
    width: 100%;
    margin: 0px;
    padding: 10px;
}

.item-description {
    width: 100%-20px;
    padding: 0px 10px;
    font-size: 20px;
}

.item-link {
    width: 100%-20px;
    padding: 0px 10px;
    text-align: right;
    float: right;
    color: #bbbbbb;
    font-size: 24px;
}

.item-link:hover {
    color: white;
}

.item-link:visited {
    color: purple;
}