<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
    
    <!--tab icon-->
    <link rel='icon' href='../../Images/favicon.ico' type='image/x-icon' />

    <!-- Include React and ReactDOM via CDN -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>

    <!-- Babel for JSX support in the browser -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <!-- Include script to load code blocks-->
    <script type="text/babel" src="../../scripts/code.js"></script>

    <!--style sheets-->
    <link rel="stylesheet" href="../../styles/styles.css">
    <link rel="stylesheet" href="../../styles/post.css">

    <!--prism import-->
    <script src="../../scripts/prism.js"></script>
    <link href="../../styles/code.css" rel="stylesheet" />
</head>
<body>
    <div class="content">
        <div class="header">
            <a href="../../index.html">
                <img class="header-logo" src="../../Images/Wsoft_Logo.png">
            </a>
            <h2 class="header-text">Blog Template</h2>
        </div>
        <!--Content starts here-->

        <!--Content ends here-->
    </div>
</body>